<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Zaloguj się</mat-card-title>
    </mat-card-header>
    <form class="example-form">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Email" [formControl]="emailFormControl">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Hasło" type="password" [formControl]="passwordFormControl">
        </mat-form-field>
      </mat-card-content>
      <div *ngIf=submitError class="message-error-div">
        <div class="message-error">Nieprawidłowy email lub hasło</div>
      </div>
      <button mat-stroked-button color="accent" (click)="onSubmit()"  class="btn-block">Zaloguj</button>
    </form>
  </mat-card>

</div>

<app-footer></app-footer>
