<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Zarejestruj się</mat-card-title>
    </mat-card-header>

    <form class="example-form">

      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Imię" [formControl]="firstNameFormControl">
          <mat-error *ngIf="firstNameFormControl.hasError('required')">
            Imię jest <strong>wymagane</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Nazwisko" [formControl]="lastNameFormControl">
          <mat-error *ngIf="lastNameFormControl.hasError('required')">
            Nazwisko jest <strong>wymagane</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Email" [formControl]="emailFormControl">
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Proszę wprowadzić poprawny adres email.
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Email jest <strong>wymagany</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput type="password" placeholder="Hasło" [formControl]="passwordFormControl">
          <mat-hint>Hasło musi zawierać małą, wielką litere oraz liczbę.</mat-hint>
          <mat-error *ngIf="passwordFormControl.hasError('pattern')">
            Hasło jest zbyt proste
          </mat-error>
        </mat-form-field>

      </mat-card-content>
      <div *ngIf="messageStatus !== 'none'" class="message-error-div">
        <div *ngIf="messageStatus === 'success'" class="message-success">{{ messageText }}</div>
        <div *ngIf="messageStatus === 'error'" class="message-error">{{ messageText }}</div>
      </div>

      <button mat-stroked-button color="accent" (click)="onSubmit()" class="btn-block">Zarejestruj</button>

    </form>
  </mat-card>
</div>

<app-footer></app-footer>

